{sub_dirs, [
            "apps/",
            "rel"
            ]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info,
            fail_on_warning,
            {parse_transform, lager_transform}]}.

{deps, [{lager, ".*", {git, "git://github.com/basho/lager.git"}},
        {base58, ".*", {git, "https://github.com/titan098/erl-base58"}},
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git"}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
        {ebitcoind, ".*", {git, "https://github.com/edescourtis/ebitcoind.git"}}]}.
